<div class="body">
    <div class="container">
        <div class="left">
            <div class="l-content">
                <h2>
                    Create Account
                </h2>
                <p>Create account in few steps and
                    start enjoying the best services
                    and experience.</p>
            </div>
            
        </div>
        <div class="right">
            <div class="r-content">
                <h2>
                    Welcome to Ticket App
                </h2>
                <form action="">
                    <div class="field">
                        <label for="cafteria-name">Cafeteria Name</label>
                        <input type="text" placeholder="Enter Cafeteria Name">
                    </div>
                    <div class="field">
                        <label for="cafteria-name">Email</label>
                        <input type="text" placeholder="Enter Cafeteria Name">
                    </div>
                    <div class="field">
                        <label for="cafteria-name">Phone Number</label>
                        <input type="text" placeholder="Enter Cafeteria Name">
                    </div>
                    <div class="field">
                        <label for="cafteria-name">Password</label>
                        <input type="text" placeholder="Enter Cafeteria Name">
                    </div>
                    <button class="register-button">Register</button>
                </form>
            </div>
          
        </div>
    </div>
</div>

