
<div class = "container">
    <div class = "widgets">
        <div class = "nav" >
            <a routerLink="/dashboard"><fa-icon class="oicon"  [icon]="faThLarge"></fa-icon></a>
            <p>Dashboard</p> 
        </div>

        <div class = "nav" routerLink="wallet">
            <a routerLink="/wallet"><fa-icon class="oicon"  [icon]="faWallet"></fa-icon></a>
            <p>Wallet</p> 
        </div>

        <div class = "nav" routerLink="settings">
            <a routerLink="/settings"><fa-icon class="oicon"  [icon]="faCog"></fa-icon></a>
            <p>Setting</p> 
        </div>
        
        
        
    </div>
</div>
