<div class = "container">
    <div class = "container-content">
        
    
    <h1>ticketville</h1>

    <div class = "widgets">
        <div class = "user">
            Hello,<span class = "name">{{name}}</span>
            <div class = "profile-pic">
            </div>
        </div>

        <div class = "notifications">
            <fa-icon class="oicon" [icon]="faBell"></fa-icon>
        </div>

        <div class = "logout">
            Logout
        </div>
    </div>
    <div class = "hamburger">
        <fa-icon class="oicon bars" [icon]="faBars"></fa-icon>
    </div>
</div>
</div>